.git
.gitignore
.idea
.vscode
.cursor

node_modules
dist
build
coverage
.nyc_output

logs
*.log
.temp
.tmp

.env
.env.*
!.env.example

test
**/*.spec.ts

README.md
*.md
.prettierrc
.eslintrc.js

Dockerfile
.dockerignore
docker-compose*.yml
