PORT=3022

JWT_SECRET=change-me
JWT_ACCESS_EXPIRES=1h
JWT_REFRESH_EXPIRES=7d

BUSINESS_TIMEZONE=America/Mexico_City

API_WHATS=https://api-wa-sendings.gsanmartin.net/api/message/
WHATSAPP_ORIGIN_ID=1
WHATSAPP_NIP_EXPIRE_MINUTES=5

DB_HOST=localhost
DB_USR=postgres
DB_PORT=5432
DB_PSW=secret
DB_NAME=odoo-gsm
DB_SYNC=false

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
ADMIN_NAME=Administrador Venta Digital
